@* Share Page *@
@{
    ViewData["Title"] = "Share";
}
<h1 class="text-center m-4">Shared Experiences!</h1>
<div>
    <a href="/posts/new">Create Post</a>
    <a href="/reviews/new">Create Review</a>
    <a href="/listings/new">Create Listing</a>
</div>
<div class="d-flex justify-content-around">
    <div class="card p-3 m-2 w-33">
        <partial name="_Posts"/>
    </div>
    <div class="card p-3 m-2 w-33">
        <partial name="_Reviews"/>
    </div>
    <div class="card p-3 m-2 w-33">
        <partial name="_Listings"/>
    </div>
</div>