/* _content/csharp_proj/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1pvy78jp5z] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1pvy78jp5z] {
  color: #0077cc;
}

.btn-primary[b-1pvy78jp5z] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1pvy78jp5z], .nav-pills .show > .nav-link[b-1pvy78jp5z] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1pvy78jp5z] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1pvy78jp5z] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1pvy78jp5z] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1pvy78jp5z] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1pvy78jp5z] {
  position: absolute;
  bottom: 0;
  width: 85%;
  white-space: nowrap;
  line-height: 60px;
}

.body[b-1pvy78jp5z] {
  --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;

  display: flex;
  justify-content: right;

  background-color: var(--background-color);
  color: var(--text-color);
}

.body.dark[b-1pvy78jp5z]{
  --accent-color: #D0D066;
  --background-color: #333;
  --text-color: white;
  --button-text-color: #333;
}
/* The switch - the box around the slider */
.switch[b-1pvy78jp5z] {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input[b-1pvy78jp5z] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider[b-1pvy78jp5z] {
  margin-top: 3px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider[b-1pvy78jp5z]:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider[b-1pvy78jp5z] {
  background-color: #131517;
}

input:focus + .slider[b-1pvy78jp5z] {
  box-shadow: 0 0 1px #17191a;
}

input:checked + .slider[b-1pvy78jp5z]:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round[b-1pvy78jp5z] {
  border-radius: 37px;
}

.slider.round[b-1pvy78jp5z]:before {
  border-radius: 50%;
}

.darkmode[b-1pvy78jp5z] {
  background-color: #292929;
  color: white;
}
.darkmode .container[b-1pvy78jp5z] {
  background-color: #3d3d3d;
}
.darkmode .body[b-1pvy78jp5z] {
  background-color: #3d3d3d;
}
.form-check[b-1pvy78jp5z]{
  cursor: pointer;
}

