@* Share Page *@
@{
    ViewData["Title"] = "Share";
}
<h1 class="text-center m-4">Shared Experiences!</h1>
<div class="d-flex justify-content-around">
    <div class="card p-3 m-2 w-33">
        <partial name="_Posts"/>
    </div>
    <div class="card p-3 m-2 w-33">
        <partial name="_Reviews"/>
    </div>
    <div class="card p-3 m-2 w-33">
        <partial name="_Listings"/>
    </div>
</div>