
<div class="input-group">
    <div class="form-outline flex-fill">
    <input type="search" id="form1" class="form-control form-control-lg" />
    <label class="form-label" for="form1">Search events</label>
    </div>
    <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
    </button>
</div>

</div>
    TODO: Display search results
</div>